@font-face {
    font-family: "nexonMaplestory";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nexonMaplestory";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonMaplestory/nexonMaplestory-Bold.ttf") format("truetype");
    font-display: swap;
}
.nexonMaplestory {
    font-family: "nexonMaplestory";
}
.nexonMaplestory300 {
    font-family: "nexonMaplestory";
    font-weight: 300;
}
.nexonMaplestory700 {
    font-family: "nexonMaplestory";
    font-weight: 700;
}

